body {
    background-color: rgb(244, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common{
    /* background-color: #cccccc; */
    position: absolute;
    /*tells the browser to ignore all other elements to pretend they don't exist. 
    This will make it so our elements collide and appear on top of each other*/
}

.header{
    top: 5px;
    /*Want our header to start 5 px from top*/
    left: 5px;
    right: 5px;
    height: 70px;
    /*want our header to be 100 px from top to bottom*/
    z-index: 2;
    /*higher number = on top*/
    border-bottom: solid 1px #555555;
}

.leftmenu {
    top: 84px;
    /*header top + header height + our 5 px for the left menu + 2 px for top and bottom*/
    left: 5px;
    width: 170px;
    /*like height but vertical*/
    bottom: 39px;
    z-index: 1;
    padding-top: 5px;
    border-right: solid 1px #555555;
}

.mainbody {
    top: 84px;
    left: 184px;
    right: 214px;
    bottom: 39px;
    padding-right: 5px;
}

.rightmenu {
    top: 84px;
    right: 5px;
    width: 200px;
    bottom: 30px;
    border-left: solid 1px #555555;
    padding-left: 5px;
}

.subheader {
    float: right;
}